[Unit]
Description=Sample Python System Service

[Service]
WorkingDirectory=/usr/local/lib/mypythonservice/
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/usr/local/etc/mypythonservice/mypythonservice.env
ExecStart=/usr/local/lib/mypythonservice/venv/bin/python3 /usr/local/lib/mypythonservice/mypythonservice.py

Restart=on-failure

[Install]
WantedBy=default.target
